In [2]:
val mnmFile = ("C:/Users/alice.marchi/Downloads/LearningSparkV2-master/chapter2/scala/data")

mnmFile: String = C:/Users/alice.marchi/Downloads/LearningSparkV2-master/chapter2/scala/data

In [3]:
val mnmDF = spark.read.format("csv")
 .option("header", "true")
 .option("inferSchema", "true")
 .load(mnmFile)

mnmDF: org.apache.spark.sql.DataFrame = [State: string, Color: string ... 1 more field]

In [4]:
val countMnMDF = mnmDF
 .select("State", "Color", "Count")
 .groupBy("State", "Color")
 .agg(count("Count").alias("Total"))
 .orderBy(desc("Total"))

countMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [5]:
// All the aggregations for each M&M color for each state

countMnMDF.show(10)
 println(s"Total Rows = ${countMnMDF.count()}")
 println()

+-----+------+-----+
|State| Color|Total|
+-----+------+-----+
|   CA|Yellow| 1807|
|   WA| Green| 1779|
|   OR|Orange| 1743|
|   TX| Green| 1737|
|   TX|   Red| 1725|
|   CA| Green| 1723|
|   CO|Yellow| 1721|
|   CA| Brown| 1718|
|   CO| Green| 1713|
|   NV|Orange| 1712|
+-----+------+-----+
only showing top 10 rows

Total Rows = 60

In [6]:
// All the aggregations for each M&M color for California

val caCountMnMDF = mnmDF
 .select("State", "Color", "Count")
 .where(col("State") === "CA")
 .groupBy("State", "Color")
 .agg(count("Count").alias("Total"))
 .orderBy(desc("Total"))

caCountMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [7]:
caCountMnMDF.show(10)

+-----+------+-----+
|State| Color|Total|
+-----+------+-----+
|   CA|Yellow| 1807|
|   CA| Green| 1723|
|   CA| Brown| 1718|
|   CA|Orange| 1657|
|   CA|   Red| 1656|
|   CA|  Blue| 1603|
+-----+------+-----+

In [8]:
// All the aggregations for each M&M color for Texas

val txCountMnMDF = mnmDF
 .select("State", "Color", "Count")
 .where(col("State") === "TX")
 .groupBy("State", "Color")
 .agg(count("Count").alias("Total"))
 .orderBy(desc("Total"))

txCountMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [9]:
txCountMnMDF.show(10)

+-----+------+-----+
|State| Color|Total|
+-----+------+-----+
|   TX| Green| 1737|
|   TX|   Red| 1725|
|   TX|Yellow| 1703|
|   TX|Orange| 1652|
|   TX| Brown| 1641|
|   TX|  Blue| 1614|
+-----+------+-----+

In [10]:
// All the aggregations for each M&M color for Colorado and Nevada

val statesCountMnMDF = mnmDF
 .select("State", "Color", "Count")
 .where(col("State") === "CO" or col("State") === "NV")
 .groupBy("State", "Color")
 .agg(count("Count").alias("Total"))
 .orderBy(desc("Total"))

statesCountMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [11]:
statesCountMnMDF.show(10)

+-----+------+-----+
|State| Color|Total|
+-----+------+-----+
|   CO|Yellow| 1721|
|   CO| Green| 1713|
|   NV|Orange| 1712|
|   NV| Green| 1698|
|   CO|  Blue| 1695|
|   NV|Yellow| 1675|
|   NV|  Blue| 1673|
|   NV| Brown| 1657|
|   CO| Brown| 1656|
|   CO|Orange| 1642|
+-----+------+-----+
only showing top 10 rows

In [12]:
val maxMnMDF = mnmDF
 .select("State", "Color", "Count")
 .groupBy("State", "Color")
 .agg(max("Count").alias("Max"))
 .orderBy(desc("Max"))

maxMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 1 more field]

In [13]:
maxMnMDF.show(10)

+-----+------+---+
|State| Color|Max|
+-----+------+---+
|   WA|   Red|100|
|   WY| Green|100|
|   CA|  Blue|100|
|   NV| Brown|100|
|   NM| Green|100|
|   NV|   Red|100|
|   WA|Orange|100|
|   UT|  Blue|100|
|   WY|   Red|100|
|   NM|Yellow|100|
+-----+------+---+
only showing top 10 rows

In [14]:
mnmDF.show(5)

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   TX|   Red|   20|
|   NV|  Blue|   66|
|   CO|  Blue|   79|
|   OR|  Blue|   71|
|   WA|Yellow|   93|
+-----+------+-----+
only showing top 5 rows

In [18]:
val maxtotalMnMDF = mnmDF
 .select("State", "Color", "Count")
 .groupBy("State", "Color")
 .agg(count("Count").alias("Total"), max("Count").alias("Max"))
 .orderBy(desc("Total"))

maxtotalMnMDF.show(5)

+-----+------+-----+---+
|State| Color|Total|Max|
+-----+------+-----+---+
|   CA|Yellow| 1807|100|
|   WA| Green| 1779|100|
|   OR|Orange| 1743|100|
|   TX| Green| 1737|100|
|   TX|   Red| 1725|100|
+-----+------+-----+---+
only showing top 5 rows

maxtotalMnMDF: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [State: string, Color: string ... 2 more fields]

In [4]:
val pruebaMnMDF = mnmDF
 .select("State", "Color", "Count")
 .groupBy("State", "Color")
 .agg(count("Count").alias("Total"))
 .orderBy(desc("Total"))
 .agg(max("Total"), min("Total"), avg("Total"))

pruebaMnMDF.show()

+----------+----------+----------+
|max(Total)|min(Total)|avg(Total)|
+----------+----------+----------+
|      1807|      1532|   1666.65|
+----------+----------+----------+

pruebaMnMDF: org.apache.spark.sql.DataFrame = [max(Total): bigint, min(Total): bigint ... 1 more field]

SQL creando tempView

In [24]:
import org.apache.spark.sql.SparkSession            
val spark = SparkSession
  .builder
  .appName("SparkSQLExampleApp")
  .getOrCreate()

val csvFile="C:/Users/alice.marchi/Downloads/LearningSparkV2-master/chapter2/scala/data/mnm_dataset.csv"

val df = spark.read.format("csv")
  .option("inferSchema", "true")
  .option("header", "true")
  .load(csvFile)

df.createOrReplaceTempView("mnm_tbl")

import org.apache.spark.sql.SparkSession
spark: org.apache.spark.sql.SparkSession = org.apache.spark.sql.SparkSession@ae1746c
csvFile: String = C:/Users/alice.marchi/Downloads/LearningSparkV2-master/chapter2/scala/data/mnm_dataset.csv
df: org.apache.spark.sql.DataFrame = [State: string, Color: string ... 1 more field]

In [25]:
spark.sql("SELECT * FROM mnm_tbl").show(10)

+-----+------+-----+
|State| Color|Count|
+-----+------+-----+
|   TX|   Red|   20|
|   NV|  Blue|   66|
|   CO|  Blue|   79|
|   OR|  Blue|   71|
|   WA|Yellow|   93|
|   WY|  Blue|   16|
|   CA|Yellow|   53|
|   WA| Green|   60|
|   OR| Green|   71|
|   TX| Green|   68|
+-----+------+-----+
only showing top 10 rows

In [26]:
spark.sql("SELECT State, Color FROM mnm_tbl").show(10)

+-----+------+
|State| Color|
+-----+------+
|   TX|   Red|
|   NV|  Blue|
|   CO|  Blue|
|   OR|  Blue|
|   WA|Yellow|
|   WY|  Blue|
|   CA|Yellow|
|   WA| Green|
|   OR| Green|
|   TX| Green|
+-----+------+
only showing top 10 rows

In [29]:
spark.sql("SELECT State, Color, COUNT(Count) AS Total FROM mnm_tbl GROUP BY State, Color ORDER BY Total DESC").show(10)

+-----+------+-----+
|State| Color|Total|
+-----+------+-----+
|   CA|Yellow| 1807|
|   WA| Green| 1779|
|   OR|Orange| 1743|
|   TX| Green| 1737|
|   TX|   Red| 1725|
|   CA| Green| 1723|
|   CO|Yellow| 1721|
|   CA| Brown| 1718|
|   CO| Green| 1713|
|   NV|Orange| 1712|
+-----+------+-----+
only showing top 10 rows

In [31]:
spark.sql("SELECT State, Color, COUNT(Count) AS Total, AVG(Count) AS AvgCount FROM mnm_tbl GROUP BY State, Color ORDER BY Total DESC").show(10)

+-----+------+-----+------------------+
|State| Color|Total|          AvgCount|
+-----+------+-----+------------------+
|   CA|Yellow| 1807|  55.8693967902601|
|   WA| Green| 1779| 54.23608768971332|
|   OR|Orange| 1743| 54.22489959839358|
|   TX| Green| 1737| 55.12550374208405|
|   TX|   Red| 1725|55.306666666666665|
|   CA| Green| 1723|54.268717353453276|
|   CO|Yellow| 1721| 55.22254503195816|
|   CA| Brown| 1718|55.740395809080326|
|   CO| Green| 1713| 54.71336835960304|
|   NV|Orange| 1712|54.865070093457945|
+-----+------+-----+------------------+
only showing top 10 rows