Authors/ages

In [1]:
# In the following example, we want to aggregate all the ages for each name, group byname, 
# and then average the ages, using RDD

dataRDD = sc.parallelize([("Brooke", 20), ("Denny", 31), ("Jules", 30), ("TD", 35), ("Brooke", 25)])

In [3]:
agesRDD = (dataRDD
    .map(lambda x: (x[0], (x[1], 1)))
    .reduceByKey(lambda x, y: (x[0] + y[0], x[1] + y[1]))
    .map(lambda x: (x[0], x[1][0]/x[1][1])))

In [4]:
# The same query using DataFrame

from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

# Creo un DataFrame usando SparkSession

spark = (SparkSession
        .builder
        .appName("AuthorsAges")
        .getOrCreate())

# Creo el DataFrame

data_df = spark.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30), ("TD", 35), 
                                 ("Brooke", 25)], ["name", "age"])

avg_df = data_df.groupBy("name").agg(avg("age"))
avg_df.show()

+------+--------+
|  name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Jules|    30.0|
|    TD|    35.0|
| Denny|    31.0|
+------+--------+

Blog example

In [5]:
from pyspark.sql.types import *

schema = StructType([StructField("author", StringType(), False),
 StructField("title", StringType(), False),
 StructField("pages", IntegerType(), False)])

# Usando DDL (Data Definition Language)

schema = "author STRING, title STRING, pages INT"

In [6]:
from pyspark.sql import SparkSession

# Defino el schema para los datos usando DDL

schema = "`Id` INT, `First` STRING, `Last` STRING, `Url` STRING, `Published` STRING, `Hits` INT, `Campaigns` ARRAY<STRING>"

In [8]:
data = [[1, "Jules", "Damji", "https://tinyurl.1", "1/4/2016", 4535, ["twitter",
"LinkedIn"]],
 [2, "Brooke","Wenig", "https://tinyurl.2", "5/5/2018", 8908, ["twitter",
"LinkedIn"]],
 [3, "Denny", "Lee", "https://tinyurl.3", "6/7/2019", 7659, ["web",
"twitter", "FB", "LinkedIn"]],
 [4, "Tathagata", "Das", "https://tinyurl.4", "5/12/2018", 10568,
["twitter", "FB"]],
 [5, "Matei","Zaharia", "https://tinyurl.5", "5/14/2014", 40578, ["web",
"twitter", "FB", "LinkedIn"]],
 [6, "Reynold", "Xin", "https://tinyurl.6", "3/2/2015", 25568,
["twitter", "LinkedIn"]]
 ]

In [9]:
# Creo una SparkSession

spark = (SparkSession
 .builder
 .appName("Example-3_6")
 .getOrCreate())

# Creo un DataFrame usando el schema que he definido arriba

blogs_df = spark.createDataFrame(data, schema)

In [10]:
blogs_df.show()

+---+---------+-------+-----------------+---------+-----+--------------------+
| Id|    First|   Last|              Url|Published| Hits|           Campaigns|
+---+---------+-------+-----------------+---------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1| 1/4/2016| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2| 5/5/2018| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3| 6/7/2019| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|5/12/2018|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|5/14/2014|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6| 3/2/2015|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+---------+-----+--------------------+

In [11]:
# Imprimo el schema que ha usado Spark para procesar el DataFrame

print(blogs_df.printSchema())

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- Url: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

None

In [14]:
from pyspark.sql import Row
blog_row = Row(6, "Reynold", "Xin", "https://tinyurl.6", 255568, "3/2/2015",
 ["twitter", "LinkedIn"])

blog_row[1]

'Reynold'

In [15]:
# Puedo usar un objeto row para crear un DataFrame

rows = [Row("Matei Zaharia", "CA"), Row("Reynold Xin", "CA")]
authors_df = spark.createDataFrame(rows, ["Authors", "State"])
authors_df.show()

+-------------+-----+
|      Authors|State|
+-------------+-----+
|Matei Zaharia|   CA|
|  Reynold Xin|   CA|
+-------------+-----+

In [3]:
from pyspark.sql.types import *

# Defino schema de manera programatica 

fire_schema = StructType([StructField('CallNumber', IntegerType(), True),
     StructField('UnitID', StringType(), True),
     StructField('IncidentNumber', IntegerType(), True),
     StructField('CallType', StringType(), True), 
     StructField('CallDate', StringType(), True), 
     StructField('WatchDate', StringType(), True),
     StructField('CallFinalDisposition', StringType(), True),
     StructField('AvailableDtTm', StringType(), True),
     StructField('Address', StringType(), True), 
     StructField('City', StringType(), True), 
     StructField('Zipcode', IntegerType(), True), 
     StructField('Battalion', StringType(), True), 
     StructField('StationArea', StringType(), True), 
     StructField('Box', StringType(), True), 
     StructField('OriginalPriority', StringType(), True), 
     StructField('Priority', StringType(), True), 
     StructField('FinalPriority', IntegerType(), True), 
     StructField('ALSUnit', BooleanType(), True), 
     StructField('CallTypeGroup', StringType(), True),
     StructField('NumAlarms', IntegerType(), True),
     StructField('UnitType', StringType(), True),
     StructField('UnitSequenceInCallDispatch', IntegerType(), True),
     StructField('FirePreventionDistrict', StringType(), True),
     StructField('SupervisorDistrict', StringType(), True),
     StructField('Neighborhood', StringType(), True),
     StructField('Location', StringType(), True),
     StructField('RowID', StringType(), True),
     StructField('Delay', FloatType(), True)])

# Uso el DataFrameReader para leer el fichero csv

sf_fire_file = "C:/Users/alice.marchi/Downloads/LearningSparkV2-master/chapter3/data/sf-fire-calls.csv"
fire_df = spark.read.csv(sf_fire_file, header=True, schema=fire_schema)

In [4]:
from pyspark.sql.functions import *

# Projections and filters

few_fire_df = (fire_df
 .select("IncidentNumber", "AvailableDtTm", "CallType")
 .where(col("CallType") != "Medical Incident"))
few_fire_df.show(5, truncate=False)

+--------------+----------------------+--------------+
|IncidentNumber|AvailableDtTm         |CallType      |
+--------------+----------------------+--------------+
|2003235       |01/11/2002 01:51:44 AM|Structure Fire|
|2003250       |01/11/2002 04:16:46 AM|Vehicle Fire  |
|2003259       |01/11/2002 06:01:58 AM|Alarms        |
|2003279       |01/11/2002 08:03:26 AM|Structure Fire|
|2003301       |01/11/2002 09:46:44 AM|Alarms        |
+--------------+----------------------+--------------+
only showing top 5 rows

In [11]:
# Devuleve el número de diferentes tipos de llamadas

(fire_df
 .select("CallType")
 .where(col("CallType").isNotNull())
 .agg(countDistinct("CallType").alias("DistinctCallTypes"))
 .show())

+-----------------+
|DistinctCallTypes|
+-----------------+
|               30|
+-----------------+

In [6]:
# Filtro todos los tipos de CallType, que no son null
(fire_df
 .select("CallType")
 .where(col("CallType").isNotNull())
 .distinct()
 .show(10, False))

+-----------------------------------+
|CallType                           |
+-----------------------------------+
|Elevator / Escalator Rescue        |
|Marine Fire                        |
|Aircraft Emergency                 |
|Confined Space / Structure Collapse|
|Administrative                     |
|Alarms                             |
|Odor (Strange / Unknown)           |
|Citizen Assist / Service Call      |
|HazMat                             |
|Watercraft in Distress             |
+-----------------------------------+
only showing top 10 rows

In [7]:
new_fire_df = fire_df.withColumnRenamed("Delay", "ResponseDelayedinMins")
(new_fire_df
 .select("ResponseDelayedinMins")
 .where(col("ResponseDelayedinMins") > 5)
 .show(5, False))

+---------------------+
|ResponseDelayedinMins|
+---------------------+
|5.35                 |
|6.25                 |
|5.2                  |
|5.6                  |
|7.25                 |
+---------------------+
only showing top 5 rows

In [8]:
# Uso la función to_timestamp() para pasar del formato string al formato data

fire_ts_df = (new_fire_df
 .withColumn("IncidentDate", to_timestamp(col("CallDate"), "MM/dd/yyyy"))
 .drop("CallDate")
 .withColumn("OnWatchDate", to_timestamp(col("WatchDate"), "MM/dd/yyyy"))
 .drop("WatchDate")
 .withColumn("AvailableDtTS", to_timestamp(col("AvailableDtTm"),
 "MM/dd/yyyy hh:mm:ss a"))
 .drop("AvailableDtTm"))

In [9]:
(fire_ts_df
 .select("IncidentDate", "OnWatchDate", "AvailableDtTS")
 .show(5, False))

+-------------------+-------------------+-------------------+
|IncidentDate       |OnWatchDate        |AvailableDtTS      |
+-------------------+-------------------+-------------------+
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 01:51:44|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 03:01:18|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 02:39:50|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 04:16:46|
|2002-01-11 00:00:00|2002-01-10 00:00:00|2002-01-11 06:01:58|
+-------------------+-------------------+-------------------+
only showing top 5 rows

In [10]:
(fire_ts_df
 .select(year('IncidentDate'))
 .distinct()
 .orderBy(year('IncidentDate'))
 .show())

+------------------+
|year(IncidentDate)|
+------------------+
|              2000|
|              2001|
|              2002|
|              2003|
|              2004|
|              2005|
|              2006|
|              2007|
|              2008|
|              2009|
|              2010|
|              2011|
|              2012|
|              2013|
|              2014|
|              2015|
|              2016|
|              2017|
|              2018|
+------------------+

In [19]:
(fire_ts_df
 .select("CallType")
 .where(col("CallType").isNotNull())
 .groupBy("CallType")
 .count()
 .orderBy("count", ascending=False)
 .show(n=10, truncate=False))

+-------------------------------+------+
|CallType                       |count |
+-------------------------------+------+
|Medical Incident               |113794|
|Structure Fire                 |23319 |
|Alarms                         |19406 |
|Traffic Collision              |7013  |
|Citizen Assist / Service Call  |2524  |
|Other                          |2166  |
|Outside Fire                   |2094  |
|Vehicle Fire                   |854   |
|Gas Leak (Natural and LP Gases)|764   |
|Water Rescue                   |755   |
+-------------------------------+------+
only showing top 10 rows

In [20]:
import pyspark.sql.functions as F
(fire_ts_df
 .select(F.sum("NumAlarms"), F.avg("ResponseDelayedinMins"),
 F.min("ResponseDelayedinMins"), F.max("ResponseDelayedinMins"))
 .show())

+--------------+--------------------------+--------------------------+--------------------------+
|sum(NumAlarms)|avg(ResponseDelayedinMins)|min(ResponseDelayedinMins)|max(ResponseDelayedinMins)|
+--------------+--------------------------+--------------------------+--------------------------+
|        176170|         3.892364154521585|               0.016666668|                   1844.55|
+--------------+--------------------------+--------------------------+--------------------------+

In [11]:
# What were all the different types of fire calls in 2018?
(fire_ts_df
 .select("CallType")
 .where(col("CallType").isNotNull())
 .where(year('IncidentDate') == 2018)
 .distinct()
 .show(10, False))

+-----------------------------+
|CallType                     |
+-----------------------------+
|Elevator / Escalator Rescue  |
|Alarms                       |
|Odor (Strange / Unknown)     |
|Citizen Assist / Service Call|
|HazMat                       |
|Explosion                    |
|Vehicle Fire                 |
|Suspicious Package           |
|Other                        |
|Outside Fire                 |
+-----------------------------+
only showing top 10 rows

In [13]:
# What months within the year 2018 saw the highest number of fire calls?

(fire_ts_df
 .filter(year("IncidentDate") == 2018)
 .groupBy(month("IncidentDate")).count()
 .orderBy("count", ascending=False).show()
)

+-------------------+-----+
|month(IncidentDate)|count|
+-------------------+-----+
|                 10| 1068|
|                  5| 1047|
|                  3| 1029|
|                  8| 1021|
|                  1| 1007|
|                  6|  974|
|                  7|  974|
|                  9|  951|
|                  4|  947|
|                  2|  919|
|                 11|  199|
+-------------------+-----+

In [16]:
# Which neighborhood in San Francisco generated the most fire calls in 2018?

(fire_ts_df
 .filter(year("IncidentDate") == 2018)
 .groupBy(col("Neighborhood")).count()
 .orderBy("count", ascending=False)
 .show()
)

+--------------------+-----+
|        Neighborhood|count|
+--------------------+-----+
|          Tenderloin| 1393|
|     South of Market| 1053|
|             Mission|  913|
|Financial Distric...|  772|
|Bayview Hunters P...|  522|
|    Western Addition|  352|
|     Sunset/Parkside|  346|
|            Nob Hill|  295|
|        Hayes Valley|  291|
|      Outer Richmond|  262|
| Castro/Upper Market|  251|
|         North Beach|  231|
|           Excelsior|  212|
|        Potrero Hill|  210|
|  West of Twin Peaks|  210|
|     Pacific Heights|  191|
|              Marina|  191|
|           Chinatown|  191|
|         Mission Bay|  178|
|      Bernal Heights|  170|
+--------------------+-----+
only showing top 20 rows

In [20]:
# Which neighborhoods had the worst response times to fire calls in 2018?

(fire_ts_df
 .filter(year("IncidentDate") == 2018)
 .select(col("Neighborhood"), col("ResponseDelayedinMins"))
 .orderBy("ResponseDelayedinMins", ascending=False)
 .show(10))

+--------------------+---------------------+
|        Neighborhood|ResponseDelayedinMins|
+--------------------+---------------------+
|           Chinatown|            491.26666|
|Financial Distric...|            406.63333|
|          Tenderloin|            340.48334|
|      Haight Ashbury|            175.86667|
|Bayview Hunters P...|                155.8|
|Financial Distric...|            135.51666|
|     Pacific Heights|            129.01666|
|        Potrero Hill|                109.8|
|        Inner Sunset|            106.13333|
|     South of Market|             94.71667|
+--------------------+---------------------+
only showing top 10 rows

In [23]:
# Which week in the year in 2018 had the most fire calls?

(fire_ts_df
 .filter(year("IncidentDate") == 2018)
 .groupBy(weekofyear("IncidentDate")).count()
 .orderBy("count", ascending=False)
 .show(5)
)

+------------------------+-----+
|weekofyear(IncidentDate)|count|
+------------------------+-----+
|                      22|  259|
|                      40|  255|
|                      43|  250|
|                      25|  249|
|                       1|  246|
+------------------------+-----+
only showing top 5 rows

In [24]:
# Is there a correlation between neighborhood, zip code, and number of fire calls?

(fire_ts_df
 .groupBy(col("Neighborhood"), col("zipcode")).count()
 .orderBy("count", ascending=False)
 .show(5)
)

+--------------------+-------+-----+
|        Neighborhood|zipcode|count|
+--------------------+-------+-----+
|          Tenderloin|  94102|17084|
|     South of Market|  94103|13762|
|             Mission|  94110|10444|
|Bayview Hunters P...|  94124| 9150|
|             Mission|  94103| 5445|
+--------------------+-------+-----+
only showing top 5 rows

In [25]:
# How can we use Parquet files or SQL tables to store this data and read it back?

fire_ts_df.write.format("parquet").saveAsTable("FireCalls")

DATASET

In [1]:
# Row is a generic object type in Spark, holding a collection of mixed types that can be accessed using an index. 

from pyspark.sql import Row
row = Row(350, True, "Learning Spark 2E", None)

row[0]

'Learning Spark 2E'

In [2]:
row[1]

True

In [3]:
row[2]

'Learning Spark 2E'